body {
  font-family: sans-serif;
  background-color: dodgerblue;
}
p {
  color: lime;
}
h1, h2, h3, h4, h5, h6 {
  color: lime;
  text-align: center;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}
.nav li {
  float: left;
}
.nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.nav li a:hover {
  background-color: #0000b3;
}
.textedit {
  display: block;
  margin: auto;
  font-family: sans-serif;
  font-size: 11pt;
  background-color: white;
  border: none;
  width: 500px;
  height: 1000px;
}
.size11button:onclick .textedit {
  font-size: 11pt;
}
.size12button:onclick .textedit {
  font-size: 12pt;
}
.size14button:onclick .textedit {
  font-size: 14pt;
}
.size20button:onclick .textedit {
  font-size: 20pt;
}
.fontsansbutton:onclick .textedit {
  font-family: sans-serif;
}
.editsize500x1000button:onclick .textedit {
  width: 500px;
  height: 1000px;
}
.editsize100x500button:onclick .textedit {
  width: 100px;
  height: 500px;
}
